# Set up

In [38]:
%matplotlib inline
%run fcast.py

# customize matplotlib plots
mpl.style.use('seaborn-darkgrid')
plt.rc('font', family='TH Sarabun New')
plt.rc('xtick', labelsize=12)
plt.rc('ytick', labelsize=12)
plt.rc('axes',  labelsize=16)
plt.rc('figure', figsize=(6.5,4), dpi=300)

# Prepare Data

In [39]:
hml = read_price('hml')
hml.meta = SimpleNamespace()
hml.meta.abb = 'hml'
hml.meta.shortname = 'ข้าวหอมมะลิ'
hml.meta.fullname = 'ราคาข้าวเปลือกหอมมะลิ ที่เกษตรกรขายได้ ณ ไร่นา'

wht = read_price('wht')
wht.meta = SimpleNamespace()
wht.meta.abb = 'wht'
wht.meta.shortname = 'ข้าวเจ้าขาว'
wht.meta.fullname = 'ราคาข้าวเปลือกเจ้าขาว ที่เกษตรกรขายได้ ณ ไร่นา'

glu = read_price('glu')
glu.meta = SimpleNamespace()
glu.meta.abb = 'glu'
glu.meta.shortname = 'ข้าวเหนียว'
glu.meta.fullname = 'ราคาข้าวเปลือกเหนียวเมล็ดยาว ที่เกษตรกรขายได้ ณ ไร่นา'

prices = [hml, wht, glu]

In [40]:
for price in prices:
#   price.scaled, price.scaler = data_transform(price, method="log")
  price.scaled, price.scaler = data_transform(price, method=None)
  price.train, price.validate, price.train2, price.test = data_split(price.scaled)
  print(price.meta.abb, price.train.size, price.validate.size, price.test.size)

hml 259 85 85
wht 259 85 85
glu 259 85 85

# ARIMA

## Generate Parameters Grid

In [41]:
p = list(range(3))
q = list(range(3))
P = [0, 1]
Q = [0, 1]
t = ['c']
m = 12
order = model_configs(p, [1], q)
sorder = model_configs(P, [0], Q, [12])
arima_configs = model_configs(order, sorder, t)
arima_configs

[((0, 1, 0), (0, 0, 0, 12), 'c'),
 ((0, 1, 0), (0, 0, 1, 12), 'c'),
 ((0, 1, 0), (1, 0, 0, 12), 'c'),
 ((0, 1, 0), (1, 0, 1, 12), 'c'),
 ((0, 1, 1), (0, 0, 0, 12), 'c'),
 ((0, 1, 1), (0, 0, 1, 12), 'c'),
 ((0, 1, 1), (1, 0, 0, 12), 'c'),
 ((0, 1, 1), (1, 0, 1, 12), 'c'),
 ((0, 1, 2), (0, 0, 0, 12), 'c'),
 ((0, 1, 2), (0, 0, 1, 12), 'c'),
 ((0, 1, 2), (1, 0, 0, 12), 'c'),
 ((0, 1, 2), (1, 0, 1, 12), 'c'),
 ((1, 1, 0), (0, 0, 0, 12), 'c'),
 ((1, 1, 0), (0, 0, 1, 12), 'c'),
 ((1, 1, 0), (1, 0, 0, 12), 'c'),
 ((1, 1, 0), (1, 0, 1, 12), 'c'),
 ((1, 1, 1), (0, 0, 0, 12), 'c'),
 ((1, 1, 1), (0, 0, 1, 12), 'c'),
 ((1, 1, 1), (1, 0, 0, 12), 'c'),
 ((1, 1, 1), (1, 0, 1, 12), 'c'),
 ((1, 1, 2), (0, 0, 0, 12), 'c'),
 ((1, 1, 2), (0, 0, 1, 12), 'c'),
 ((1, 1, 2), (1, 0, 0, 12), 'c'),
 ((1, 1, 2), (1, 0, 1, 12), 'c'),
 ((2, 1, 0), (0, 0, 0, 12), 'c'),
 ((2, 1, 0), (0, 0, 1, 12), 'c'),
 ((2, 1, 0), (1, 0, 0, 12), 'c'),
 ((2, 1, 0), (1, 0, 1, 12), 'c'),
 ((2, 1, 1), (0, 0, 0, 12), 'c'),
 ((2, 1, 1), (0, 0, 1, 12), 'c'),
 ((2, 1, 1), (1, 0, 0, 12), 'c'),
 ((2, 1, 1), (1, 0, 1, 12), 'c'),
 ((2, 1, 2), (0, 0, 0, 12), 'c'),
 ((2, 1, 2), (0, 0, 1, 12), 'c'),
 ((2, 1, 2), (1, 0, 0, 12), 'c'),
 ((2, 1, 2), (1, 0, 1, 12), 'c')]

## Define functions
- arima_fit
- arima_forecast
- arima_walk_forward

In [42]:
def arima_fit(data, config):
  order, sorder, trend = config
  return pm.arima.ARIMA(order, sorder, trend=trend).fit(data)

def arima_forecast(model_fitted, data, n_forecast=4):
  scaler = getattr(data, "scaler")
  df = pd.DataFrame(model_fitted.predict(n_forecast),
                    columns=["yhat_scaled"])
  df['yhat'] = scaler.inverse_transform(df)
  return df['yhat']

def arima_walk_forward(data, config, search_mode=False, n_forecast=4):
  train, test = select_traintest(data, search_mode) # this ensures that we use transformed train and test set
  data_ = pd.concat([train,test])
  N = data_.shape[0]
  n_test = test.shape[0]
  n_yhat = n_test+1
  yhat = np.empty((n_yhat, n_forecast))
  
  history = train
  model_fitted = arima_fit(history, config)
  yhat[0] = arima_forecast(model_fitted, data, n_forecast)
  
  for i in range(1, n_yhat):
    model_fitted = model_fitted.update(test.iloc[i-1])
    yhat[i] = arima_forecast(model_fitted, data, n_forecast)
    history = history.append(test.iloc[i-1])

  yhat = pd.DataFrame(yhat,
                      columns=[f'yhat{h}' for h in range(1, n_forecast+1)],
                      index=data_.index[-n_test-1:])
  
  return yhat

In [6]:
# test
# config = arima_configs[0]
# fitted = arima_fit(hml.scaled, config)
# yhat = arima_walk_forward(hml, config, search_mode=True)
# scores = model_measure(hml, yhat, config)
# scores

# Run

In [43]:
arima_model = [arima_fit, arima_forecast, arima_walk_forward, arima_configs]

In [44]:
%%time
n_forecast=4
for price in prices:
  price.arima_grid_result, price.arima_config = grid_search(price, arima_model, n_forecast=n_forecast)
  price.arima_yhat = forecast(price, arima_model, price.arima_config, n_forecast=n_forecast)

{('(0, 1, 0)-(0, 0, 0, 12)-c',): {'rmse': 1229.6174, 'mae': 770.3659, 'mape': 0.0592}}
{('(0, 1, 0)-(0, 0, 1, 12)-c',): {'rmse': 1231.4258, 'mae': 776.6997, 'mape': 0.0598}}
{('(0, 1, 0)-(1, 0, 0, 12)-c',): {'rmse': 1237.182, 'mae': 781.7487, 'mape': 0.0602}}
{('(0, 1, 0)-(1, 0, 1, 12)-c',): {'rmse': 1221.6116, 'mae': 742.3321, 'mape': 0.0557}}
{('(0, 1, 1)-(0, 0, 0, 12)-c',): {'rmse': 1210.9134, 'mae': 761.1787, 'mape': 0.0584}}
{('(0, 1, 1)-(0, 0, 1, 12)-c',): {'rmse': 1217.2168, 'mae': 767.9952, 'mape': 0.0591}}
{('(0, 1, 1)-(1, 0, 0, 12)-c',): {'rmse': 1220.3141, 'mae': 771.9332, 'mape': 0.0593}}
{('(0, 1, 1)-(1, 0, 1, 12)-c',): {'rmse': 1209.2541, 'mae': 738.5686, 'mape': 0.0555}}
{('(0, 1, 2)-(0, 0, 0, 12)-c',): {'rmse': 1256.3924, 'mae': 777.7636, 'mape': 0.0596}}
{('(0, 1, 2)-(0, 0, 1, 12)-c',): {'rmse': 1262.2919, 'mae': 785.9427, 'mape': 0.0603}}
{('(0, 1, 2)-(1, 0, 0, 12)-c',): {'rmse': 1259.6974, 'mae': 786.4878, 'mape': 0.0603}}
{('(0, 1, 2)-(1, 0, 1, 12)-c',): {'rmse': 1254.0545, 'mae': 752.5328, 'mape': 0.0564}}
{('(1, 1, 0)-(0, 0, 0, 12)-c',): {'rmse': 1277.0267, 'mae': 777.4231, 'mape': 0.0596}}
{('(1, 1, 0)-(0, 0, 1, 12)-c',): {'rmse': 1254.6165, 'mae': 778.3359, 'mape': 0.0598}}
{('(1, 1, 0)-(1, 0, 0, 12)-c',): {'rmse': 1245.2248, 'mae': 778.6566, 'mape': 0.0598}}
{('(1, 1, 0)-(1, 0, 1, 12)-c',): {'rmse': 1244.2978, 'mae': 747.1631, 'mape': 0.056}}
{('(1, 1, 1)-(0, 0, 0, 12)-c',): {'rmse': 1258.5849, 'mae': 777.2011, 'mape': 0.0596}}
{('(1, 1, 1)-(0, 0, 1, 12)-c',): {'rmse': 1269.0771, 'mae': 785.4834, 'mape': 0.0603}}
{('(1, 1, 1)-(1, 0, 0, 12)-c',): {'rmse': 1275.8673, 'mae': 792.5158, 'mape': 0.0608}}
{('(1, 1, 1)-(1, 0, 1, 12)-c',): {'rmse': 1280.1116, 'mae': 763.4131, 'mape': 0.0572}}
{('(1, 1, 2)-(0, 0, 0, 12)-c',): {'rmse': 1304.6042, 'mae': 779.561, 'mape': 0.0594}}
{('(1, 1, 2)-(0, 0, 1, 12)-c',): {'rmse': 1311.7008, 'mae': 780.3052, 'mape': 0.0597}}
{('(1, 1, 2)-(1, 0, 0, 12)-c',): {'rmse': 1314.7849, 'mae': 788.9246, 'mape': 0.0603}}
{('(1, 1, 2)-(1, 0, 1, 12)-c',): {'rmse': 1221.8677, 'mae': 752.6805, 'mape': 0.0566}}
{('(2, 1, 0)-(0, 0, 0, 12)-c',): {'rmse': 1283.7924, 'mae': 788.217, 'mape': 0.0602}}
{('(2, 1, 0)-(0, 0, 1, 12)-c',): {'rmse': 1291.816, 'mae': 796.5775, 'mape': 0.0609}}
{('(2, 1, 0)-(1, 0, 0, 12)-c',): {'rmse': 1297.5594, 'mae': 801.3784, 'mape': 0.0613}}
{('(2, 1, 0)-(1, 0, 1, 12)-c',): {'rmse': 1299.444, 'mae': 770.4669, 'mape': 0.0576}}
{('(2, 1, 1)-(0, 0, 0, 12)-c',): {'rmse': 1277.5895, 'mae': 770.9712, 'mape': 0.059}}
{('(2, 1, 1)-(0, 0, 1, 12)-c',): {'rmse': 1301.701, 'mae': 799.6684, 'mape': 0.0613}}
{('(2, 1, 1)-(1, 0, 0, 12)-c',): {'rmse': 1306.9336, 'mae': 803.4193, 'mape': 0.0616}}
{('(2, 1, 1)-(1, 0, 1, 12)-c',): {'rmse': 1292.987, 'mae': 759.1644, 'mape': 0.057}}
{('(2, 1, 2)-(0, 0, 0, 12)-c',): {'rmse': 1283.272, 'mae': 778.284, 'mape': 0.0596}}
{('(2, 1, 2)-(0, 0, 1, 12)-c',): {'rmse': 1287.581, 'mae': 791.1177, 'mape': 0.0607}}
{('(2, 1, 2)-(1, 0, 0, 12)-c',): {'rmse': 1288.1706, 'mae': 795.0406, 'mape': 0.0609}}
{('(2, 1, 2)-(1, 0, 1, 12)-c',): {'rmse': 1254.982, 'mae': 766.2378, 'mape': 0.0575}}
{('(0, 1, 0)-(0, 0, 0, 12)-c',): {'rmse': 1040.8575, 'mae': 600.0392, 'mape': 0.0628}}
{('(0, 1, 0)-(0, 0, 1, 12)-c',): {'rmse': 1059.5826, 'mae': 631.191, 'mape': 0.0661}}
{('(0, 1, 0)-(1, 0, 0, 12)-c',): {'rmse': 1061.9792, 'mae': 635.0566, 'mape': 0.0666}}
{('(0, 1, 0)-(1, 0, 1, 12)-c',): {'rmse': 1053.1933, 'mae': 619.4157, 'mape': 0.0651}}
{('(0, 1, 1)-(0, 0, 0, 12)-c',): {'rmse': 1033.5663, 'mae': 600.2121, 'mape': 0.0627}}
{('(0, 1, 1)-(0, 0, 1, 12)-c',): {'rmse': 1049.397, 'mae': 624.5239, 'mape': 0.0652}}
{('(0, 1, 1)-(1, 0, 0, 12)-c',): {'rmse': 1064.231, 'mae': 638.9932, 'mape': 0.0669}}
{('(0, 1, 1)-(1, 0, 1, 12)-c',): {'rmse': 1058.1795, 'mae': 623.8947, 'mape': 0.0654}}
{('(0, 1, 2)-(0, 0, 0, 12)-c',): {'rmse': 1072.9803, 'mae': 613.6979, 'mape': 0.0638}}
{('(0, 1, 2)-(0, 0, 1, 12)-c',): {'rmse': 1085.7286, 'mae': 636.8654, 'mape': 0.0662}}
{('(0, 1, 2)-(1, 0, 0, 12)-c',): {'rmse': 1095.4873, 'mae': 648.291, 'mape': 0.0676}}
{('(0, 1, 2)-(1, 0, 1, 12)-c',): {'rmse': 1070.7867, 'mae': 629.6421, 'mape': 0.0659}}
{('(1, 1, 0)-(0, 0, 0, 12)-c',): {'rmse': 1128.3505, 'mae': 635.28, 'mape': 0.0658}}
{('(1, 1, 0)-(0, 0, 1, 12)-c',): {'rmse': 1141.7293, 'mae': 663.1762, 'mape': 0.0687}}
{('(1, 1, 0)-(1, 0, 0, 12)-c',): {'rmse': 1166.7845, 'mae': 677.6775, 'mape': 0.0703}}
{('(1, 1, 0)-(1, 0, 1, 12)-c',): {'rmse': 1177.3575, 'mae': 664.714, 'mape': 0.0689}}
{('(1, 1, 1)-(0, 0, 0, 12)-c',): {'rmse': 1090.4751, 'mae': 617.5117, 'mape': 0.0641}}
{('(1, 1, 1)-(0, 0, 1, 12)-c',): {'rmse': 1111.3142, 'mae': 645.6851, 'mape': 0.067}}
{('(1, 1, 1)-(1, 0, 0, 12)-c',): {'rmse': 1127.2691, 'mae': 659.2399, 'mape': 0.0685}}
{('(1, 1, 1)-(1, 0, 1, 12)-c',): {'rmse': 1077.4952, 'mae': 633.426, 'mape': 0.0663}}
{('(1, 1, 2)-(0, 0, 0, 12)-c',): {'rmse': 1122.2707, 'mae': 618.4992, 'mape': 0.064}}
{('(1, 1, 2)-(0, 0, 1, 12)-c',): {'rmse': 1129.3232, 'mae': 621.2988, 'mape': 0.064}}
{('(1, 1, 2)-(1, 0, 0, 12)-c',): {'rmse': 1026.3915, 'mae': 582.5294, 'mape': 0.0603}}
{('(1, 1, 2)-(1, 0, 1, 12)-c',): {'rmse': 1054.3956, 'mae': 614.1268, 'mape': 0.0643}}
{('(2, 1, 0)-(0, 0, 0, 12)-c',): {'rmse': 1075.0076, 'mae': 606.5253, 'mape': 0.0629}}
{('(2, 1, 0)-(0, 0, 1, 12)-c',): {'rmse': 1141.2181, 'mae': 646.2717, 'mape': 0.0668}}
{('(2, 1, 0)-(1, 0, 0, 12)-c',): {'rmse': 1149.9378, 'mae': 658.1639, 'mape': 0.0682}}
{('(2, 1, 0)-(1, 0, 1, 12)-c',): {'rmse': 1101.1777, 'mae': 635.9604, 'mape': 0.0664}}
{('(2, 1, 1)-(0, 0, 0, 12)-c',): {'rmse': 1095.33, 'mae': 607.9519, 'mape': 0.0627}}
{('(2, 1, 1)-(0, 0, 1, 12)-c',): {'rmse': 1117.4866, 'mae': 637.226, 'mape': 0.0658}}
{('(2, 1, 1)-(1, 0, 0, 12)-c',): {'rmse': 1133.1063, 'mae': 651.4853, 'mape': 0.0674}}
{('(2, 1, 1)-(1, 0, 1, 12)-c',): {'rmse': 1147.9103, 'mae': 640.9769, 'mape': 0.0665}}
{('(2, 1, 2)-(0, 0, 0, 12)-c',): {'rmse': 1102.1265, 'mae': 615.1484, 'mape': 0.0637}}
{('(2, 1, 2)-(0, 0, 1, 12)-c',): {'rmse': 1127.722, 'mae': 645.0555, 'mape': 0.0668}}
{('(2, 1, 2)-(1, 0, 0, 12)-c',): {'rmse': 1137.4812, 'mae': 654.939, 'mape': 0.068}}
{('(2, 1, 2)-(1, 0, 1, 12)-c',): {'rmse': 1065.4009, 'mae': 630.2287, 'mape': 0.0662}}
{('(0, 1, 0)-(0, 0, 0, 12)-c',): {'rmse': 1333.7237, 'mae': 999.093, 'mape': 0.0987}}
{('(0, 1, 0)-(0, 0, 1, 12)-c',): {'rmse': 1369.8679, 'mae': 1022.5137, 'mape': 0.1008}}
{('(0, 1, 0)-(1, 0, 0, 12)-c',): {'rmse': 1372.1862, 'mae': 1021.0994, 'mape': 0.1007}}
{('(0, 1, 0)-(1, 0, 1, 12)-c',): {'rmse': 1312.6595, 'mae': 971.0899, 'mape': 0.0952}}
{('(0, 1, 1)-(0, 0, 0, 12)-c',): {'rmse': 1290.4024, 'mae': 965.1951, 'mape': 0.0953}}
{('(0, 1, 1)-(0, 0, 1, 12)-c',): {'rmse': 1325.0963, 'mae': 987.1889, 'mape': 0.0973}}
{('(0, 1, 1)-(1, 0, 0, 12)-c',): {'rmse': 1322.5768, 'mae': 985.3772, 'mape': 0.0971}}
{('(0, 1, 1)-(1, 0, 1, 12)-c',): {'rmse': 1280.1835, 'mae': 942.6972, 'mape': 0.0926}}
{('(0, 1, 2)-(0, 0, 0, 12)-c',): {'rmse': 1304.8193, 'mae': 981.0651, 'mape': 0.0972}}
{('(0, 1, 2)-(0, 0, 1, 12)-c',): {'rmse': 1331.6145, 'mae': 998.2353, 'mape': 0.0987}}
{('(0, 1, 2)-(1, 0, 0, 12)-c',): {'rmse': 1336.1693, 'mae': 997.2524, 'mape': 0.0986}}
{('(0, 1, 2)-(1, 0, 1, 12)-c',): {'rmse': 1286.9513, 'mae': 951.0624, 'mape': 0.0938}}
{('(1, 1, 0)-(0, 0, 0, 12)-c',): {'rmse': 1321.0445, 'mae': 994.5243, 'mape': 0.0981}}
{('(1, 1, 0)-(0, 0, 1, 12)-c',): {'rmse': 1347.0013, 'mae': 1006.734, 'mape': 0.0992}}
{('(1, 1, 0)-(1, 0, 0, 12)-c',): {'rmse': 1359.6963, 'mae': 1011.2303, 'mape': 0.0995}}
{('(1, 1, 0)-(1, 0, 1, 12)-c',): {'rmse': 1305.8632, 'mae': 959.8461, 'mape': 0.094}}
{('(1, 1, 1)-(0, 0, 0, 12)-c',): {'rmse': 1303.69, 'mae': 980.444, 'mape': 0.097}}
{('(1, 1, 1)-(0, 0, 1, 12)-c',): {'rmse': 1332.6941, 'mae': 998.3809, 'mape': 0.0987}}
{('(1, 1, 1)-(1, 0, 0, 12)-c',): {'rmse': 1341.8883, 'mae': 1002.6062, 'mape': 0.099}}
{('(1, 1, 1)-(1, 0, 1, 12)-c',): {'rmse': 1292.1208, 'mae': 952.7963, 'mape': 0.0939}}
{('(1, 1, 2)-(0, 0, 0, 12)-c',): {'rmse': 1305.1771, 'mae': 982.73, 'mape': 0.0973}}
{('(1, 1, 2)-(0, 0, 1, 12)-c',): {'rmse': 1338.2237, 'mae': 1001.5388, 'mape': 0.0989}}
{('(1, 1, 2)-(1, 0, 0, 12)-c',): {'rmse': 1335.9626, 'mae': 991.1619, 'mape': 0.0982}}
{('(1, 1, 2)-(1, 0, 1, 12)-c',): {'rmse': 1280.024, 'mae': 943.5267, 'mape': 0.0928}}
{('(2, 1, 0)-(0, 0, 0, 12)-c',): {'rmse': 1299.4816, 'mae': 976.6563, 'mape': 0.0969}}
{('(2, 1, 0)-(0, 0, 1, 12)-c',): {'rmse': 1324.319, 'mae': 987.4349, 'mape': 0.0978}}
{('(2, 1, 0)-(1, 0, 0, 12)-c',): {'rmse': 1336.5359, 'mae': 993.5547, 'mape': 0.0983}}
{('(2, 1, 0)-(1, 0, 1, 12)-c',): {'rmse': 1290.8704, 'mae': 953.9188, 'mape': 0.0941}}
{('(2, 1, 1)-(0, 0, 0, 12)-c',): {'rmse': 1301.0221, 'mae': 975.7478, 'mape': 0.0968}}
{('(2, 1, 1)-(0, 0, 1, 12)-c',): {'rmse': 1322.7045, 'mae': 989.2616, 'mape': 0.098}}
{('(2, 1, 1)-(1, 0, 0, 12)-c',): {'rmse': 1332.9292, 'mae': 993.8616, 'mape': 0.0983}}
{('(2, 1, 1)-(1, 0, 1, 12)-c',): {'rmse': 1304.1991, 'mae': 964.1164, 'mape': 0.095}}
{('(2, 1, 2)-(0, 0, 0, 12)-c',): {'rmse': 1296.1094, 'mae': 972.3197, 'mape': 0.0966}}
{('(2, 1, 2)-(0, 0, 1, 12)-c',): {'rmse': 1326.4703, 'mae': 994.1693, 'mape': 0.0985}}
{('(2, 1, 2)-(1, 0, 0, 12)-c',): {'rmse': 1334.3433, 'mae': 995.148, 'mape': 0.0986}}
{('(2, 1, 2)-(1, 0, 1, 12)-c',): {'rmse': 1296.2319, 'mae': 959.9112, 'mape': 0.0945}}
Wall time: 35min 50s

In [29]:
path = '../results/result_arima_4.pkl'

if(os.path.isfile(path)):
  result = joblib.load(path)
else:
  result = dict()
  for price in prices:
    result[price.meta.abb] = [price.arima_grid_result, price.arima_config, price.arima_yhat]
  joblib.dump(result, path)

In [48]:
hml.arima_yhat

                 yhat1       yhat2       yhat3       yhat4
date
2012-08-01 15,627.5546 15,688.0918 15,435.5700 15,356.2783
2012-09-01 15,573.0491 15,320.9654 15,241.7526 15,394.9658
2012-10-01 15,627.8403 15,548.5102 15,701.8353 15,866.1266
2012-11-01 15,131.4928 15,285.3011 15,451.0186 15,494.3591
2012-12-01 15,610.8328 15,776.5691 15,819.9102 16,033.2883
...                ...         ...         ...         ...
2019-05-01 15,754.3627 15,842.2736 15,892.5239 15,998.0029
2019-06-01 15,863.7887 15,914.0841 16,019.7704 15,989.8713
2019-07-01 15,456.4519 15,561.5067 15,531.3728 15,184.9046
2019-08-01 16,304.0701 16,274.3080 15,927.9562 15,830.3844
2019-09-01 16,659.4789 16,312.8622 16,215.3906 16,408.6768

[86 rows x 4 columns]

In [22]:
# plot_fcast(hml, 'arima', step=2)

In [45]:
model_measure(hml, hml.arima_yhat, [""])

,rmse,mae,mape,rmse1,mae1,mape1,rmse2,mae2,mape2,rmse3,mae3,mape3,rmse4,mae4,mape4
,828.4682,602.5464,0.0489,445.7445,303.5510,0.0247,738.5302,540.2320,0.0441,963.1385,702.6554,0.0572,"1,166.4594",863.7471,0.0698

In [36]:
model_measure(hml, hml.arima_yhat, [""])

,rmse,mae,mape,rmse1,mae1,mape1,rmse2,mae2,mape2,rmse3,mae3,mape3,rmse4,mae4,mape4
,926.3782,670.5727,0.0545,478.2798,329.7268,0.0269,827.1463,593.1281,0.0482,"1,089.1806",784.3278,0.0638,"1,310.9061",975.1080,0.0791

In [46]:
model_measure(wht, wht.arima_yhat, [""])

,rmse,mae,mape,rmse1,mae1,mape1,rmse2,mae2,mape2,rmse3,mae3,mape3,rmse4,mae4,mape4
,489.3947,381.9047,0.0480,289.2557,213.8977,0.0262,452.2483,364.1154,0.0454,569.6511,442.9919,0.0558,646.4236,506.6138,0.0644

In [32]:
model_measure(wht, wht.arima_yhat, [""])

,rmse,mae,mape,rmse1,mae1,mape1,rmse2,mae2,mape2,rmse3,mae3,mape3,rmse4,mae4,mape4
,497.9089,382.2650,0.0476,288.7314,214.5631,0.0262,461.7035,373.2554,0.0464,581.4132,450.1570,0.0563,659.7876,491.0845,0.0616

In [47]:
model_measure(glu, glu.arima_yhat, [""])

,rmse,mae,mape,rmse1,mae1,mape1,rmse2,mae2,mape2,rmse3,mae3,mape3,rmse4,mae4,mape4
,853.0905,636.2395,0.0578,516.9155,363.2587,0.0332,784.4453,564.4327,0.0515,966.1163,748.0140,0.0681,"1,144.8850",869.2527,0.0782

In [34]:
model_measure(glu, glu.arima_yhat, [""])

,rmse,mae,mape,rmse1,mae1,mape1,rmse2,mae2,mape2,rmse3,mae3,mape3,rmse4,mae4,mape4
,863.8839,645.9053,0.0592,514.8356,362.1703,0.0333,796.3268,584.7623,0.0537,980.6102,752.2634,0.0691,"1,163.7630",884.4251,0.0806

In [35]:
glu.arima_yhat

                 yhat1       yhat2       yhat3       yhat4
date
2012-08-01 12,866.2134 12,930.1530 13,005.0259 13,076.6438
2012-09-01 13,117.6838 13,192.9085 13,249.5596 13,303.9318
2012-10-01 12,129.8658 12,186.5095 12,323.6249 12,445.1796
2012-11-01 11,703.1681 11,837.0428 11,994.7870 12,107.6135
2012-12-01 12,137.3899 12,297.8262 12,387.3318 12,438.0946
...                ...         ...         ...         ...
2019-05-01 11,524.5142 11,497.7074 11,445.0252 11,432.0437
2019-06-01 11,927.1349 11,865.7238 11,814.9049 11,814.6358
2019-07-01 11,881.6433 11,830.5444 11,828.8829 11,864.1621
2019-08-01 13,307.9176 13,280.3436 13,184.5227 13,143.2774
2019-09-01 14,546.6858 14,420.4066 14,262.1314 14,203.8965

[86 rows x 4 columns]